.botonnegro{
    background-color: black;
    border: 0px;
}

#indexbody{
    background-color: black;
    text-align: center;
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;

}
body{
    font-family: 'Press Start 2P', cursive;
    color: white;
}
a{
    color: brown;
}
#bodyjugar{
    background-color:black;
}
#Instrucciones{
    background-color: black;
    border-left: 10pc;

}
