#start{
    padding-top: 3%;
}
.cargar{
    background-image: url(Imagenes/LOADING.gif);
    /* no usocover por que pierde calidad la imagen y por que queda mejor repetido */
}
body{ 
    font-family: 'Press Start 2P','Zen Dots', cursive;
    color: white;
    background-color: black;
    text-align: center;
}
#indexbody{
    padding-top: 5%;
    padding-bottom: 15%;
    font-size: 20px;
}
a{
    color: brown;
    text-decoration: none;
    padding-left: 2%;   
    padding-right: 2%;
    padding-top: 2%;
}
a:hover{
    color: goldenrod;
}
#Instrucciones{
    font-family: 'Zen Dots','Press Start 2P', cursive;
    padding-top: 5%;
    padding-bottom: 15%;
}
.caja{
    padding-top: 2%;
    padding-left: 25%;
    font-size: 20px;
    width: 50%;
}
ul{
    text-align: left;
}
footer{
    padding-top: 2%;
}
#jugarrr{
    font-size: 20px;
    padding-top: 10%;
    padding-bottom: 30% ;
}
input{
    width: 120px;
    height: 40px;
    font-size: 25px;
    background-color:brown;
    border-color: black;
    color: goldenrod;
    font-family:'Press Start 2P','Zen Dots',cursive  ;
}
.endgame{
    padding: 2%;
    padding-bottom: 99%;
    font-size: 30px;
}
#wiin{
    padding-top: 30%;
    width: 500px;
    height: 350px;
}
#looser{
    padding-top: 30%;
}
#juegodenumeros{
    padding-top: 2%;
}
#A1{
    padding-top: 2%;
}
#J1{
    padding-top: 2%; 
    padding-bottom: 2%;
}
#L1{
    padding-top: 2%; padding-bottom: 2%;
}
#L2{
    padding-bottom: 2%;
}
.oculto{
    display: none;
}
.OK{
    color: brown;
    text-decoration: none;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    background-color: black;
    border: 0px;
    font-size: 20px;
    font-family: 'Press Start 2P','Zen Dots',cursive ;
}
.OK:hover{
    color: goldenrod;
}
canvas{
    background-color: darkgoldenrod;
}
#pregunta{
    padding-bottom: 2%;
}